
  <div class="video-w3l" data-vide-bg="assets/login/video/1">
    <!--header-->
    <div class="header-w3l">
      <h1>
        <span>E</span>cole
        <span>S</span>uperieur
        <span>P</span>olytechnique
      </h1>
    </div>
    <!--//header-->
    <div class="main-content-agile">
      <div class="sub-main-w3">
        <h2>Connectez-vous
          <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        </h2>
        <form >
          <div class="pom-agile">
            <span class="fa fa-user-o" aria-hidden="true"></span>
            <input placeholder="email" name="Email" class="user" type="text" required="">
          </div>
          <div class="pom-agile">
            <span class="fa fa-key" aria-hidden="true"></span>
            <input placeholder="password" name="Password" class="pass" type="password" required="">
          </div>
          <div class="sub-w3l">
            <div class="sub-agile">
              <input type="checkbox" id="brand1" value="">
              <label for="brand1">
                <span></span>Souviens-toi de moi</label>
            </div>
            <a href="#">mot de passe oublie?</a>
            <div class="clear"></div>
          </div>
          <div class="right-w3l">
            <button class="btn1" (click)="login()"> Connecter </button>
            <button class="btn1" routerLink="/inscription"> Inscription </button>
          </div>
        </form>
      </div>
    </div>
    <!--//main-->
    <!--footer-->
    
    <!--//footer-->
  </div>

 

  <!-- //js -->
